.channel_top_layer {
	position: relative;
	z-index: 1;
	bottom: 162px;
}
#channel_thumbnail {
	width: 100px;
	max-height: 100px;
	margin-left: 10px;
	margin-top: 10px;
	box-shadow: 0 0 10px black;
}
#channel_title {
	padding-left: 10px;
	margin-top: 10px;
	color: white;
	text-shadow: 0 0 10px black;
}
#cover_image {
	position: relative;
	z-index: -1;
	width: 100%;
	height: 100%;
	max-width: 1200px;
	object-fit: cover;
}
#channel_info_div {
	height: 160px;
	box-shadow: 0 0 5px black;
}
