.div {
	border-color: red;
	border-style: solid;
}
* { 
	font-family: arial;
}
body {
	background: #111;
	color: #aaa;
	padding-top:50px;
} 
#main_div {
	max-width:1200px;
	width:90%;
	margin:auto;
}
#claim_list_div, #container_div{
	padding: 0px 20px;
	background: #1D1D1D;
	box-shadow: 0 0 3px black;
}
