.div {
	border-color: red;
	border-style: solid;
}
#hr_div {
	padding: 10px;
}
h1,h2,h3,h4,h5 {
	color: #ddd;
}
video {
	max-width:1200px;
	max-height:1000px;
	background: black;
}
#details_div {
	color: #fff;
	margin:0px;
	padding:0px;
	position:relative;
}
#details_div div {
	display: inline-block;
}
#right_div {
	right:0;
	position: absolute;
	height:100%;
}
#options_div {
	margin: 10px 0px;
}
#content_div {
	background:#111;
	color:#ccc;
	box-shadow: 0 0 3px black;
}
#info_div {
	text-align:left;
	display:inline-block;
}
#description_div a {
	display:inline-block;
}
#description_div * {
	margin: 0px;
	overflow-wrap: anywhere;
}
#content_div a {
	display:inline-block;
}
#content_div * {
	margin: 0px;
}
#LBC_text {
	position: absolute;
	bottom:0;
	right:5px;
}
#support_div,#repost_div {
	position: fixed;
	width:fit-content;
	margin:auto;
	left:0;
	right:0;
	top:45%;
	background: #444;
	padding: 10px;
} 
#repost_div div {
	margin: 10px 0;
}
#repost_div #bid_input,#repost_name_input  {
	float: right;
}
.content_btn {
	background:#333;
	box-shadow: 0 0 1px black;
	border: none;
	color: #fff;
	margin: 0 0 0 6px;
}
.x_button {
	float:right;
}
.text_div {
padding: 15px;}
#content_div img {
	max-width:80%;
}
#channel_url {
	color:#ddd;
}
a {
	color:#eee;
}
.pdf_iframe {
	position: relative;
	width: 100%;
	height: 80%;
	border-style: none;
}

